@{
    ViewBag.Title = "Beheerder";
}
<div class="header-banner">
    <img src="../../Images/beheerhome.jpeg" class="img-responsive" alt="banner" />
</div>
<section id="beheeraccount">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="myaccount-menu">
                    <li><a href="#Leverancier">Leverancier</a></li>
                    <li><a href="#Producten">Producten</a></li>
                    <li><a href="#Klanten">Klanten</a></li>
                    <li><a href="#Accounts">Accounts</a></li>
                    <li><a href="#Facturen">Facturen</a></li>
                    <li><a href="#Kortingscodes">Kortingscodes</a></li>
                    <li><a href="#Korting">Korting</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="account-info-content" id="Leverancier">
                    <h4>
                        Leverancier <span class="pull-right">
                            <a href="@Url.Action("Leverancier", "Beheer")" c class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Leverancier 1</a>
                    </p>
                    <p>
                        <a href="#x">Leverancier 2</a>
                    </p>
                    <p>
                        <a href="#x">Leverancier 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Producten">
                    <h4>
                        Producten <span class="pull-right">
                            <a href="@Url.Action("Producten", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Product 1</a>
                    </p>
                    <p>
                        <a href="#x">Product 2</a>
                    </p>
                    <p>
                        <a href="#x">Product 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Klanten">
                    <h4>
                        Klanten <span class="pull-right">
                            <a href="@Url.Action("Klanten", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Klant 1</a>
                    </p>
                    <p>
                        <a href="#x">Klant 2</a>
                    </p>
                    <p>
                        <a href="#x">Klant 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Accounts">
                    <h4>
                        Accounts <span class="pull-right">
                            <a href="@Url.Action("Accounts", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Account 1</a>
                    </p>
                    <p>
                        <a href="#x">Account 2</a>
                    </p>
                    <p>
                        <a href="#x">Account 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Facturen">
                    <h4>
                        Facturen <span class="pull-right">
                            <a href="@Url.Action("Facturen", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Factuur 1</a>
                    </p>
                    <p>
                        <a href="#x">Factuur 2</a>
                    </p>
                    <p>
                        <a href="#x">Factuur 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Kortingscodes">
                    <h4>
                        Kortingscodes <span class="pull-right">
                            <a href="@Url.Action("Kortingscodes", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Kortingscode 1</a>
                    </p>
                    <p>
                        <a href="#x">Kortingscode 2</a>
                    </p>
                    <p>
                        <a href="#x">Kortingscode 3</a>
                    </p>
                </div>
                <div class="account-info-content" id="Korting">
                    <h4>
                        Korting <span class="pull-right">
                            <a href="@Url.Action("Korting", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    <p>
                        <a href="#x">Korting 1</a>
                    </p>
                    <p>
                        <a href="#x">Korting 2</a>
                    </p>
                    <p>
                        <a href="#x">Korting 3</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>