@using KillerApp.Models
@{
    ViewBag.Title = "Beheerder";
    var leveranciers = ViewData["Leveranciers"] as List<Leverancier>;
    var producten = ViewData["Producten"] as List<Product>;
    var klanten = ViewData["Klanten"] as List<Klant>;
    var kortingen = ViewData["Kortingen"] as List<Korting>;
    var coupons = ViewData["Coupons"] as List<Coupon>;
    var orders = ViewData["Orders"] as List<Order>;
    var beheerders = ViewData["Beheerders"] as List<Beheerder>;
}
<div class="header-banner">
    <img src="../../Images/beheerhome.jpeg" class="img-responsive" alt="banner" />
</div>
<section id="beheeraccount">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="myaccount-menu">
                    <li><a href="#Leverancier">Leverancier</a></li>
                    <li><a href="#Producten">Producten</a></li>
                    <li><a href="#Klanten">Klanten</a></li>
                    <li><a href="#Accounts">Accounts</a></li>
                    <li><a href="#Facturen">Facturen</a></li>
                    <li><a href="#Kortingscodes">Kortingscodes</a></li>
                    <li><a href="#Korting">Korting</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="account-info-content" id="Leverancier">
                    <h4>
                        Leverancier <span class="pull-right">
                            <a href="@Url.Action("Leverancier", "Beheer")" c class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                        <span class="pull-right">
                            <a href="@Url.Action("New", "Leverancier")" c class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-plus"></i><span>Add New</span>
                            </a>
                        </span>
                    </h4>
                    @if (leveranciers != null)
                    {
                        foreach (var leverancier in leveranciers)
                        {
                            <p>
                                <a href="@Url.Action("Edit", "Leverancier", new {id = leverancier.Id})">@leverancier.Naam</a>
                            </p>
                        }
                    }
                  </div>
                <div class="account-info-content" id="Producten">
                    <h4>
                        Producten <span class="pull-right">
                            <a href="@Url.Action("Producten", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                        <span class="pull-right">
                            <a href="@Url.Action("New", "Product")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>Add New</span>
                            </a>
                        </span>
                    </h4>
                    @if (producten != null)
                    {
                        foreach (var product in producten)
                        {
                            <p>
                                <a href="@Url.Action("Edit", "Product", new {id = product.Id})">@product.Naam</a>
                            </p>
                        }
                    }
                   
                
                </div>
                <div class="account-info-content" id="Klanten">
                    <h4>
                        Klanten <span class="pull-right">
                            <a href="@Url.Action("Klanten", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    @if (klanten != null)
                    {
                        foreach (var klant in klanten)
                        {
                            <p>
                                <a href="#x">@klant.Naam</a>
                            </p>
                        }
                    }
                    
                   
                </div>
                <div class="account-info-content" id="Accounts">
                    <h4>
                        Accounts <span class="pull-right">
                            <a href="@Url.Action("Accounts", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    @if (beheerders != null)
                    {
                        foreach (var beheerder in beheerders)
                        {
                            <p>
                                <a href="#x">@beheerder.Naam</a>
                            </p>
                        }
                    }
                   
                    
                </div>
                <div class="account-info-content" id="Facturen">
                    <h4>
                        Orders <span class="pull-right">
                            <a href="@Url.Action("Facturen", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    @if (orders != null)
                    {
                        foreach (var order in orders)
                        {
                            <p>
                                <a href="#x">@order.Id - @order.Klant.Naam</a>
                            </p>
                        }
                    }
                   
                  
                </div>
                <div class="account-info-content" id="Kortingscodes">
                    <h4>
                        Kortingscodes <span class="pull-right">
                            <a href="@Url.Action("Kortingscodes", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    @if (coupons != null)
                    {
                        foreach (var coupon in coupons)
                        {
                            <p>
                                <a href="#x">@coupon.Id - @coupon.Code</a>
                            </p>
                        }
                    }
                   
                 
                </div>
                <div class="account-info-content" id="Korting">
                    <h4>
                        Korting <span class="pull-right">
                            <a href="@Url.Action("Korting", "Beheer")" class="btn btn-primary btn-account-a-orange">
                                <i class="glyphicon glyphicon-eye-open"></i><span>View All</span>
                            </a>
                        </span>
                    </h4>
                    @if (kortingen != null)
                    {
                        foreach (var korting in kortingen)
                        {
                            <p>
                                <a href="#x">@korting.Id - @korting.Percentage</a>
                            </p>
                        }
                    }
                   

                </div>
            </div>
        </div>
    </div>
</section>