@{
    ViewBag.Title = "KlantHome";
    var orders = ViewData["Orders"] as List<Order>;
}
@using KillerApp.Models
@model KillerApp.Models.Klant
@if (Session["klant"] != null)
{
    <div class="header-banner">
        <img src="../../Images/accountKlant.jpeg" class="img-responsive" alt="banner"/>
    </div>
    <section id="klantaccount">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="myaccount-menu">
                        <li><a href="#personal-info">Personal info</a></li>
                        <li><a href="#shipping-info">Shipping info</a></li>
                        <li><a href="#order-info">My orders</a></li>
                    </ul>
                </div>
                <div class="col-sm-10">
                    <div class="account-info-content" id="personal-info">
                        <h4>PERSONAL INFO <span class="pull-right"><a href="@Url.Action("Info", "Klant")" class="btn btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-pencil"></i><span>Edit</span></a></span></h4>
                        <div class="row">

                            <div class="col-xs-6 col-sm-5 col-md-3">
                                <img src="../../Images/man.png" alt="" class="img-responsive img-account">
                                <a href="#x" class="btn btn-primary btn-xs btn-account-a-orange">Change Image</a>
                            </div>

                            <div class="col-xs-6 col-sm-7 col-md-9">
                                <p>Full Name: <span>@Html.DisplayFor(model => model.Naam)</span>
                                </p>
                                <p>Country: <span>@Html.DisplayFor(model => model.Land)</span>
                                </p>
                                <p>Email: <span>@Html.DisplayFor(model => model.Email)</span>
                                </p>
                                <p>Phone: <span>+0123 456 789</span>
                                </p>
                                <p>Date of Birth: <span>Aug. 13, 1991</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="account-info-content" id="shipping-info">
                        <h4>SHIPPING INFO <span class="pull-right"><a href="@Url.Action("Info", "Klant")" class="btn btn-sm btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-pencil"></i><span>Edit</span></a></span></h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p><span>@Html.DisplayFor(model => model.Naam) - @Html.DisplayFor(model => model.Email)</span>
                                </p>
                                <p>Country: <span>@Html.DisplayFor(model => model.Land)</span>
                                </p>
                              
                                <p>City: <span>@Html.DisplayFor(model => model.Woonplaats)</span>
                                </p>
                                <p>Address Line: <span>@Html.DisplayFor(model => model.Straat), @Html.DisplayFor(model => model.HuisNr)</span>
                                </p>
                                <p>ZIP Code: <span>@Html.DisplayFor(model => model.Postcode)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="account-info-content" id="order-info">

                        <h4>MY ORDERS <span class="pull-right"><a href="@Url.Action("Orders", "Klant")" class="btn btn-sm btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-eye-open"></i><span>View</span></a></span></h4>
                        @if (orders != null)
                        {
                            foreach (var order in orders)
                            {
                                <p>
                                    <a href="@Url.Action("Orders", "Klant", new {id = order.Id})">Order @order.Id</a> <span>@order.Datum</span>
                                </p>
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    Response.Redirect("/Account/");
}
