@{
    ViewBag.Title = "Product";
    var product = (Product)ViewData["product"];
    var prijs = ViewData["newprijs"];
    var meldingBeoordeling = ViewData["melding"];
}
@using KillerApp.Models
@model KillerApp.Models.Product

<section id="single-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7">
                <div class="product-images">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../Images/laptop.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="../../Images/laptop1.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="../../Images/laptop2.jpeg" alt="...">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="product-info">
                    <h4>@product.Naam</h4>
                    <p>
                        @product.Omschrijving
                    </p>
                    <div class="product-specs">
                        <div class="info">
                            <p><i class="glyphicon glyphicon-tag"></i><span>Price: &euro;@product.Prijs</span>
                                @if (prijs.ToString() != "€ 0,00")
                                {
                                    <span class="newprijs">Sale : @prijs</span> 
                                }
                                
                            </p>
                        </div>
                        <div class="info">
                            <p><i class="glyphicon glyphicon-heart-empty"></i><span>Category: <a href="@Url.Action("ProductCategorie", "Product", new {id = product.Categorie.Id})"> @product.Categorie.Naam</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="glyphicon glyphicon-menu-hamburger"></i><span>SKU: @product.Id</span></p>
                        </div>
                        <div class="info">
                            <p><i class="glyphicon glyphicon-star-empty"></i><span>Reviews: @product.GemiddeldeBeoordeling</span></p>
                        </div>
                    </div>
                    @using (Html.BeginForm("AddToCart", "Cart", new {id = product.Id}))
                    {
                        <div class="buy-product">
                            <div class="options qty aantal">
                                <input step="1" min="0" name="aantal" value="1" title="Qty" class="qty" text="" size="4" type="number" max="99">
                            </div>
                            <button class="btn btn-primary btn-cart-a-orange" type="submit"><i class="glyphicon glyphicon-shopping-cart menu-icon-cart"></i><span> Add to Cart</span></button>
                            <button class="btn btn-success btn-cart-a" type="submit"><i class="glyphicon glyphicon-heart-empty"></i><span> Buy Now</span></button>
                            @*<a href="#" class="btn btn-primary btn-cart-a-orange"><i class="glyphicon glyphicon-shopping-cart menu-icon-cart"></i><span> Add to Cart</span></a>*@
                            @*<a href="#" class="btn btn-success btn-cart-a"><i class="glyphicon glyphicon-heart-empty"></i><span> Buy Now</span></a>*@
                        </div>
                    }
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <ul class="product-info-tabs nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#product-features-tab-discription">Discription</a>
                    </li>

                  
                    <li class="">
                        <a data-toggle="tab" href="#product-content-review">reviews</a>
                    </li>
                </ul>
                <div class="product-information-content">
                    <div class="tab-content">
                        <div id="product-features-tab-discription" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Lorem ipsum</h4>
                                </div>
                            </div>
                        </div>

                       
                     
                        <div id="product-content-review" class="tab-pane fade in">
                            <div class="row">
                                @foreach (var beoordeling in product.Beoordelingen)
                                {
                                    <div class="col-md-12">
                                        <div class="review-content">
                                            <h4 class="review-titel">@beoordeling.Titel</h4>
                                            <div class="review-stars">
                                                <span class="product-rating">
                                                    @beoordeling.Cijfer
                                                </span>
                                            </div>
                                            <p>
                                                @beoordeling.Omschrijving
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <p>@meldingBeoordeling</p>
                @*<form class="review-form" datatoggle="validator">*@
                    <h4>Review</h4>
                    @using (Html.BeginForm("SaveBeoordeling", "Product", new {id = product.Id}, FormMethod.Post))
                    {
                        <div class="form-group">
                            <input id="titel" name="titel" class="form-control" type="text" placeholder="TITLE" />
                        </div>
                        <div class="form-group">
                            <select name="cijfer" class="form-control">
                                <option>10 </option>
                                <option>9 </option>
                                <option>8 </option>
                                <option>7 </option>
                                <option>6 </option>
                                <option>5 </option>
                                <option>4 </option>
                                <option>3 </option>
                                <option>2 </option>
                                <option>1 </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="omschrijving" name="omschrijving" rows="5" placeholder="MESSAGE"></textarea>
                        </div>
                        <button id="form-submit" class="btn btn-default btn-send" type="submit"><i class="glyphicon glyphicon-envelope"></i>SEND</button>
                    }
                    
                @*</form>*@
            </div>
        </div>
    </div>
</section>