@{
    ViewBag.Title = "Producten";
    var categorieen = ViewData["categorieen"] as List<Categorie>;
    var producten = ViewData["producten"] as List<Product>;
}
@using KillerApp.Models

<div class="header-banner">
    <img src="../../Images/products.jpeg" class="img-responsive" alt="banner" />
</div>

<section id="producten">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 sidebar">
                <div class="widget-prijs">
                    <h5 class="product-filter">Search:</h5>
                    @using (Html.BeginForm("Search", "Product"))
                    {
                      
                            <div class="form-group">
                                <input id="titel" name="search" class="form-control" type="text" placeholder="SEARCH" />
                            </div>
                        
                        <button id="form-submit" class="btn btn-default btn-send" type="submit"><i class="glyphicon glyphicon-search"></i>SEARCH</button>
                       
                           
                     
                       
                    }
                </div>
                <div class="prijs-filter widget">
                    <h5 class="product-filter">Price filter</h5>
                    <ul class="filter-list">
                        <li><a href="@Url.Action("Price", "Product", new {min = 0, max = 100})">&euro; 0 - &euro; 100</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 100, max = 200})">&euro; 100 - &euro; 200</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 200, max = 300})">&euro; 200 - &euro; 300</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 300, max = 400})">&euro; 300 - &euro; 400</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 400, max = 500})">&euro; 400 - &euro; 500</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 500, max = 600})">&euro; 500 - &euro; 600</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 600, max = 700})">&euro; 600 - &euro; 700</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 700, max = 800})">&euro; 700 - &euro; 800</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 800, max = 900})">&euro; 800 - &euro; 900</a></li>
                        <li><a href="@Url.Action("Price", "Product", new {min = 900, max = 1000})">&euro; 900 - &euro; 1000</a></li>
                    </ul>
                </div>
                <div class="categorie-filter widget">
                    <h5 class="product-filter">Catgories</h5>
                    <ul class="filter-list">
                        @if (categorieen != null)
                        {
                            foreach (var categorie in categorieen)
                            {
                                <li><a href="@Url.Action("ProductCategorie", "Product", new {id = categorie.Id})">@categorie.Naam</a>@*<span class="pull-right">(16)</span>*@</li>
                            }
                        }
                     
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-9 product-content">
                <p class="show-products">
                    Showing <strong>1-8</strong> of <strong>36</strong> items.
                    <span class="pull-right options">
                        <select class="selectpicker">
                            <optgroup label="Sort By:">
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Newness</option>
                                <option>Rating</option>
                                <option>Price Low to High</option>
                                <option>Price High to Low</option>
                            </optgroup>
                        </select>
                    </span>
                </p>
                <ul class="product-list">
                    @if (producten != null)
                    {
                        foreach (var product in producten)
                        {
                            <li class="col-md-6 product">
                                <div class="product-product">
                                    @if (@product.NiewPrijs != "€ 0,00")
                                    {
                                        <h5 class="product-price text"> <span class="oldprijs">&euro; @product.Prijs</span>
                                            <span class="newprijs"> @product.NiewPrijs</span>
                                        </h5>
                                    }
                                    else
                                    {
                                        <h5 class="product-price text"> <span>&euro; @product.Prijs</span>
                                           
                                        </h5>
                                    }

                                    <a>
                                        <img class="img-responsive  img-product" alt="product" src="../../Images/iphone1.jpeg"/>
                                    </a>
                                    <div class="product-hover-icons">
                                        <a href="@Url.Action("Product", "Product", new {id = product.Id})"><i class="glyphicon glyphicon-eye-open product-icon"></i></a>
                                        <a href="@Url.Action("AddToCart", "Cart", new {id = product.Id})"><i class="glyphicon glyphicon-shopping-cart product-icon"></i></a>
                                    </div>
                                    <div class="product-hover-details">
                                        <h4>@product.Naam</h4>
                                        <p>@product.Categorie.Naam</p>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</section>