@using KillerApp.Models

@{
    ViewBag.Title = "ProductEdit";
    var product = (Product)ViewData["Product"];
    var beheerder = ViewData["Beheerder"] as Beheerder;
    var leveranciers = ViewData["Leveranciers"] as List<Leverancier>;
    var categorieen = ViewData["Categorieen"] as List<Categorie>;
    var kortingen = ViewData["Kortingen"] as List<Korting>;
}
<section id="leverancierId">
    <div class="container">
        <div class="row">
            <div class="col-md-12 leverancier-titel">
                <h2>Product</h2>
            </div>
            <div class="col-md-2 personal-info">
                @if (beheerder != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account Nr : @beheerder.Id</p>
                    <p><a href="@Url.Action("Producten", "Beheer")">Back</a></p>
                    <p><a href="@Url.Action("Delete", "Product", new { id = product.Id })">Delete</a></p>
                }

            </div>
            <div class="col-md-10 beheer-content">
                @if (product != null)
                {
                    using (Html.BeginForm("Update", "Product", new { id = product.Id }, FormMethod.Post))
                    {

                        <p>Product Naam:</p>
                        <div class="form-group">
                            <input id="naam" name="naam" type="text" class="form-control" value="@product.Naam" />
                        </div>
                        <p>Omschrijving:</p>
                        <div class="form-group">
                            <input id="omschrijving" name="omschrijving" type="text" class="form-control" value="@product.Omschrijving" />
                        </div>
                        <p>Prijs:</p>
                        <div class="form-group">
                            <input id="prijs" name="prijs" type="text" class="form-control" value="@product.Prijs" />
                        </div>
                        <p>Voorraad:</p>
                        <div class="form-group">
                            <input id="voorraad" name="voorraad" type="text" class="form-control" value="@product.Voorraad" disabled="disabled" />
                        </div>
                        <p>Leverancier:</p>
                        <div class="form-group">
                            <select name="levId" class="form-control">
                                @if (leveranciers != null)
                                {
                                    <option selected="selected" value="@product.Leverancier.Id">@product.Leverancier.Naam</option>
                                    foreach (var leverancier in leveranciers)
                                    {
                                        <option value="@leverancier.Id">@leverancier.Naam</option>
                                    }
                                }
                            </select>
                        </div>
                        <p>Catgorie:</p>
                        <div class="form-group">
                            <select name="catId" class="form-control">
                                @if (categorieen != null)
                                {
                                    <option selected="selected" value="@product.Categorie.Id">@product.Categorie.Naam</option>
                                    foreach (var categorie in categorieen)
                                    {
                                        <option value="@categorie.Id">@categorie.Naam</option>
                                    }
                                }
                            </select>
                        </div>
                        <p>Kortingen:</p>
                        <div class="form-group">
                            <select name="kortingId" class="form-control" multiple="multiple">
                                @if (kortingen != null)
                                {

                                    foreach (var korting in kortingen)
                                    {

                                        if (Product.CheckKorting(product.Kortingen, korting.Id))
                                        {
                                            <option selected="selected" value="@korting.Id">@korting.Percentage</option>
                                        }
                                        else
                                        {
                                            <option value="@korting.Id">@korting.Percentage</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <button id="form-submit" class="btn btn-default btn-send" type="submit">Save</button>
                    }

                }
            </div>
        </div>
    </div>
</section>





