
@using KillerApp.Models
@{
    ViewBag.Title = "Order";
    var order = ViewData["order"] as Order;
    var beheerder = ViewData["Beheerder"] as Beheerder;
}

<section id="info-order">
    <div class="container">
        <div class="row">
            <div class="col-md-12 titel-info">
                <h2>order Info</h2>
            </div>
            <div class="col-md-4 klant-info">
                @if (beheerder != null && order != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account number : @beheerder.Id</p>
                }
                
                <a href="@Url.Action("Facturen", "Beheer")">Back</a>
                @if (order != null)
                {
                    <p><a href="@Url.Action("Delete", "Order", new {id = order.Id})">Delete</a></p>
                }
               
            </div>
            <div class="col-md-8 order-info">
                @if (order != null)
                {
                    <p>Datum : @order.Datum</p>
                    <p>Coupon : @if (order.Coupon != null)
                                {
                                    @order.Coupon.Percentage
                                }
                    </p>
                    foreach (var product in order.Producten)
                    {
                        <p>Product @product.Id : @product.Naam   Prijs : &euro; @product.Prijs  Aantal : @product.Aantal</p>
                    }

                }
                
            </div>
        </div>
    </div>
</section>

