@using KillerApp.Models

@{
    ViewBag.Title = "BeheerEdit";
    var beheerder = ViewData["Beheerder"] as Beheerder;
    var beheerderId = ViewData["BeheerderId"] as Beheerder;
}

<section id="leverancierId">
    <div class="container">
        <div class="row">
            <div class="col-md-12 leverancier-titel">
                <h2>Product</h2>
            </div>
            <div class="col-md-2 personal-info">
                @if (beheerder != null && beheerderId != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account Nr : @beheerder.Id</p>
                    <p><a href="@Url.Action("Producten", "Beheer")">Back</a></p>
                    <p><a href="@Url.Action("Delete", "Beheer", new { id = beheerderId.Id })">Delete</a></p>
                }

            </div>
            <div class="col-md-10 beheer-content">
                @if (beheerderId != null)
                {
                    using (Html.BeginForm("Update", "Beheer", new { id = beheerderId.Id }, FormMethod.Post))
                    {

                        <p>Naam:</p>
                        <div class="form-group">
                            <input id="naam" name="naam" type="text" class="form-control" value="@beheerderId.Naam" />
                        </div>
                        <p>E-mail:</p>
                        <div class="form-group">
                            <input id="email" name="email" type="email" class="form-control" value="@beheerderId.Email" />
                        </div>
                        <p>Wachtwoord:</p>
                        <div class="form-group">
                            <input id="wachtwoord" name="wachtwoord" type="password" class="form-control" value="@beheerderId.Wachtwoord" />
                        </div>
                        <button id="form-submit" class="btn btn-default btn-send" type="submit">Save</button>
                    }

                }
            </div>
        </div>
    </div>
</section>


