@using KillerApp.Models

@{
    ViewBag.Title = "Kortingscodes";
    var beheerder = ViewData["Beheerder"] as Beheerder;
    var coupons = ViewData["coupons"] as List<Coupon>;
}

<div class="header-banner">
    <img src="../../Images/coupon.jpg" class="img-responsive" alt="banner" />
</div>
<section id="accountBeheer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 leverancier-titel">
                <h2>Kortinscodes</h2>
            </div>
            <div class="col-md-2 personal-info">
                @if (beheerder != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account Nr : @beheerder.Id</p>
                    <p><a href="@Url.Action("Beheerder", "Account")">Back</a></p>
                }

            </div>
            <div class="col-md-10 beheer-content">
                @if (coupons != null)
                {
                    foreach (var coupon in coupons)
                    {
                        <p><a href="@Url.Action("Edit", "Coupon", new {id = coupon.Id})">ID : @coupon.Id</a> - Code : @coupon.Code</p>
                    }

                }
            </div>
        </div>
    </div>
</section>

