@using KillerApp.Models

@{
    ViewBag.Title = "KortingEdit";
    var korting = ViewData["korting"] as Korting;
    var beheerder = ViewData["Beheerder"] as Beheerder;
    var producten = ViewData["producten"] as List<Product>;
}

<section id="leverancierId">
    <div class="container">
        <div class="row">
            <div class="col-md-12 leverancier-titel">
                <h2>Beheer</h2>
            </div>
            <div class="col-md-2 personal-info">
                @if (beheerder != null && korting != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account Nr : @beheerder.Id</p>
                    <p><a href="@Url.Action("Korting", "Beheer")">Back</a></p>
                    <p><a href="@Url.Action("Delete", "Korting", new { id = korting.Id })">Delete</a></p>
                }

            </div>
            <div class="col-md-10 beheer-content">
                @if (korting != null)
                {
                    using (Html.BeginForm("Update", "Korting", new { id = korting.Id }, FormMethod.Post))
                    {

                        <p>Percentage:</p>
                        <div class="form-group">
                            <input id="percentage" name="percentage" type="text" class="form-control" value="@korting.Percentage" />
                        </div>
                        <p>Omschrijving:</p>
                        <div class="form-group">
                            <input id="omschrijving" name="omschrijving" type="text" class="form-control" value="@korting.Omschrijving" />
                        </div>
                        <p>Producten:</p>
                        <div class="form-group">
                            <select name="productId" class="form-control" multiple="multiple">
                                @if (producten != null)
                                {

                                    foreach (var product in producten)
                                    {

                                        if (Korting.CheckProduct(product, korting.Id))
                                        {
                                            <option selected="selected" value="@product.Id">@product.Naam</option>
                                        }
                                        else
                                        {
                                            <option value="@product.Id">@product.Naam</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <button id="form-submit" class="btn btn-default btn-send" type="submit">Save</button>
                    }

                }
            </div>
        </div>
    </div>
</section>


