@{
    ViewBag.Title = "Info";
}
@model KillerApp.Models.Klant
<section id="info-klant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 titel-info">
                <h2>customer Info</h2>
            </div>
            <div class="col-md-4 klant-info">
                <p>Naam : @Html.DisplayFor(model => model.Naam)</p>
                <p>Account number : @Html.DisplayFor(model => model.Id)</p>
                <a href="@Url.Action("Klant", "Account")">Back</a>
            </div>
            <div class="col-md-8 update-info">
                @using (Html.BeginForm("Update", "Klant", FormMethod.Post))
                {
                    <div class="form-group">
                        <input id="naam" name="naam" type="text" class="form-control" value="@Html.DisplayFor(model => model.Naam)" />
                    </div>
                    <div class="form-group">
                        <input id="mail" name="email" type="email" class="form-control" value="@Html.DisplayFor(model => model.Email)" />
                    </div>
                    <div class="form-group">
                        <input id="wachtwoord" name="wachtwoord" type="password" class="form-control" value="@Html.DisplayFor(model => model.Wachtwoord)" />
                    </div>
                    <div class="form-group">
                        <input id="straat" name="straat" type="text" class="form-control" value="@Html.DisplayFor(model => model.Straat)" />
                    </div>
                    <div class="form-group">
                        <input id="huisnr" name="huisnr" type="text" class="form-control" value="@Html.DisplayFor(model => model.HuisNr)" />
                    </div>
                    <div class="form-group">
                        <input id="postcode" name="postcode" type="text" class="form-control" value="@Html.DisplayFor(model => model.Postcode)" />
                    </div>
                    <div class="form-group">
                        <input id="woonplaats" name="woonplaats" type="text" class="form-control" value="@Html.DisplayFor(model => model.Woonplaats)" />
                    </div>
                    <div class="form-group">
                        <input id="land" name="land" type="text" class="form-control" value="@Html.DisplayFor(model => model.Land)" />
                    </div>
                    <button id="form-submit" class="btn btn-default btn-send" type="submit">Save</button>

                }
            </div>
        </div>
    </div>
</section>