<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KillerProducts</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img class="img-responsive logo" src="../../Images/logo1.png" alt="logo" />
                </a>
                <!-- @Html.ActionLink("KillerProducts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
            </div>
            <div class="sec-nav">
                <a class="menu-icon" href="@Url.Action("Index", "Account")">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
                <a class="menu-icon" href="@Url.Action("Index", "Home")">
                    <i class="glyphicon glyphicon-shopping-cart menu-icon-cart"></i>
                </a>
            </div>
            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

        <footer>
            <div class="footer-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-img">
                                <img class="img-responsive" src="../../Images/logo1.png" alt="logo" />
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-title">
                                <h4>Brands</h4>
                            </div>
                            <ul class="brand-list">
                                <li><a href="@Url.Action("", "")">Apple</a></li>
                                <li><a href="@Url.Action("", "")">Samsung</a></li>
                                <li><a href="@Url.Action("", "")">HP</a></li>
                                <li><a href="@Url.Action("", "")">ASUS</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-title">
                                <h4>Support</h4>
                            </div>
                            <ul class="brand-list">
                                <li><a href="@Url.Action("", "")">Terms & Conditions</a></li>
                                <li><a href="@Url.Action("", "")">Shipping & Return</a></li>
                                <li><a href="@Url.Action("", "")">F.A.Q</a></li>
                                <li><a href="@Url.Action("", "")">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-title">
                                <h4>Contact</h4>
                            </div>
                            <p>
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <span>Miami, S Miami Ave, SW 20th, Store No.1</span>
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-earphone"></i>
                                <span>+0123 456 789</span>
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span>office@yoursite.com</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="second-footer">
                    <p>&copy; @DateTime.Now.Year - KillerProducts</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIfnWYyHWq2RvSELGIRBACUGL5MrHC0Q&callback=initMap">
    </script>
</body>
</html>