@using KillerApp.Models
@{
    ViewBag.Title = "Home Page";
    var producten = ViewData["producten"] as List<Product>;
}

<div class="header-banner">
    <img src="../../Images/homebanner2.jpeg" class="img-responsive" alt="banner" />
</div>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center shipping">
                <div class="feature-content">
                    <i class="glyphicon glyphicon-gift feature-icon"></i>
                    <h5>Free shipping</h5>
                    <p>Free Worldwide Delivery</p>
                </div>
            </div>
            <div class="col-md-4 text-center delivery">
                <div class="feature-content">
                    <i class="glyphicon glyphicon-time feature-icon"></i>
                    <h5>Fast delivery</h5>
                    <p>Fast Worldwide Deleviry</p>
                </div>
            </div>
            <div class="col-md-4 text-center money">
                <div class="feature-content">
                    <i class="glyphicon glyphicon-step-backward feature-icon"></i>
                    <h5>Money back</h5>
                    <p>30 Days money back</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="collection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 collection-left img-opacity">
                <a href="@Url.Action("Index", "Product")">
                    <img class="img-responsive" alt="collection" src="~/Images/collection.jpeg" />
                    <div class="collection-hover-details">
                        <h4>Alle producten</h4>
                        
                    </div>
                </a>
            </div>
            <div class="col-md-6 collection-right ">
                <div class="row">
                    <div class="col-sm-12 collection img-opacity">
                        <a href="@Url.Action("ProductCategorie", "Product", new {id = 10})">
                            <img class="img-responsive" alt="collection1" src="~/Images/collection1.jpeg" />
                            <div class="collection-hover-details">
                                <h4>60-Second Fluoride</h4>
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 img-opacity">
                        <a href="@Url.Action("ProductCategorie", "Product", new {id = 8})">
                            <img class="img-responsive" alt="collection2" src="~/Images/collection2.jpeg" />
                            <div class="collection-hover-details">
                                <h4>ORCHID</h4>
                              
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 img-opacity">
                        <a href="@Url.Action("ProductCategorie", "Product", new {id = 4})">
                            <img class="img-responsive" alt="collection3" src="~/Images/collection3.jpeg" />
                            <div class="collection-hover-details">
                                <h4>Spooky PUmpkin Antibacterial Hand Sanitizer</h4>
                              
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="shop">
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h3>Latest products</h3>
            </div>
            <ul class="row latest-products">
                @if (producten != null)
                {
                    foreach (var product in producten)
                    {
                        <li class="col-md-4 product">

                            <div class="product-product">
                            @if (@product.NiewPrijs != "€ 0,00")
                            {
                                <h5 class="product-price"><span class="oldprijs">&euro; @product.Prijs</span><span class="newprijs"> @product.NiewPrijs</span></h5>
                            }
                            else
                            {
                                <h5 class="product-price">&euro;@product.Prijs</h5>
                            }
                                <a>
                                    <img class="img-responsive img-product" alt="product" src="../../Images/iphone.jpeg"/>
                                </a>
                            </div>
                            <div class="product-hover-icons">
                                <a href="@Url.Action("Product", "Product", new {id = product.Id})"><i class="glyphicon glyphicon-eye-open product-icon"></i></a>
                                <a href="@Url.Action("AddToCart", "Cart", new {id = product.Id})"><i class="glyphicon glyphicon-shopping-cart product-icon"></i></a>
                            </div>
                            <div class="product-hover-details">
                                <h4>@product.Naam</h4>
                                <p>@product.Categorie.Naam</p>
                            </div>
                        </li>
                    }
                    
                }
             
            </ul>
        </div>
    </div>
</section>