@using KillerApp.Models
@{
    ViewBag.Title = "Winkelmand";
    // var producten = ViewData["producten"] as List<Product>;
    var winkelmand = ViewData["winkelmand"] as Shoppingcart;
    var prijsTotaal = ViewData["totaal"] as string;
}

<div class="header-banner">
    <img src="../../Images/cart.jpeg" class="img-responsive" alt="banner" />
</div>

<section id="cart">
    <div class="shopping-cart">
        <div class="container">
            <table class="shopping-items">
                <thead>
                <tr>
                    <th class="image">&nbsp;</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                @if (winkelmand != null)
                {
                    foreach (var bestelling in winkelmand.Bestellingen)
                    {
                       
                           
                        <tr class="cart-item">
                            <td class="image-cart"><a href="#"><img src="../../Images/one.jpg" alt=""></a></td>
                            <td><a class="cart-product-title" href="@Url.Action("Product", "Product", new {id = bestelling.Product.Id})">@bestelling.Product.Naam</a></td>
                            @if (bestelling.Product.NiewPrijs != "€ 0,00")
                            {
                                <td class="newprijs">@bestelling.Product.NiewPrijs</td>
                            }
                            else
                            {
                                <td>&euro; @bestelling.Product.Prijs</td>
                            }
                                    
                            <td class="qty"><input step="1" min="0" name="cart" value="@bestelling.Aantal" title="Qty" class="qty" size="4" type="number"></td>
                            @if (bestelling.Product.NiewPrijs != "€ 0,00")
                            {
                                <td class="newprijs">@Shoppingcart.GetTotaalProduct(bestelling.Product.NewPrijs(bestelling.Product), bestelling.Aantal)</td>
                            }
                            else
                            {
                                <td>@Shoppingcart.GetTotaalProduct(bestelling.Product.Prijs, bestelling.Aantal)</td>
                            }
                                  
                            <td class="remove"><a href="@Url.Action("Remove", "Cart", new {id = bestelling.Product.Id})" class="btn btn-danger">×</a></td>
                        </tr>
                            
                        
                       
                    }
                }
               
                </tbody>
            </table>
            @using (Html.BeginForm("Order", "Cart"))
            {
                
          
                <div class="row">
                
                    <div class="col-md-6">
                    
                        <div class="input-group">
                            <input class="form-control rounded" id="coupon-code" name="coupon" placeholder="COUPON CODE" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-cart" type="button" id="submit-coupon"><i class=" menu-icon-cart glyphicon glyphicon-tag"></i> <span>Apply Coupon</span></button>
                                <label id="#result"></label>
                            </span>
                        </div>



                    </div>
                    <div class="update-cart col-sm-6">
                        <button class="pull-right btn btn-default btn-cart-grey" type="button"><i class="glyphicon glyphicon-refresh"></i> <span>Update Cart</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 cart-total">
                        <h4>CART TOTAL</h4>
                        <p>Total: <span>@if (prijsTotaal != "")
                                        {
                                            @prijsTotaal;
                                        }</span></p>
                  
                    </div>
                    <div class="col-sm-6 cart-checkout">

                        <button class="btn btn-primary btn-cart-a-orange" type="submit"><i class="glyphicon glyphicon-log-in"></i> <span>Proceed to Checkout</span></button>
                        <a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-cart-a"><i class="menu-icon-cart glyphicon glyphicon-shopping-cart"></i> <span>Continue Shopping</span></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
